hr {


  border-style: none;
  border-top-style: dotted;
  width: 100px;
  border-width: 10px;
  color: grey;
}
body {
  background-color: #EAF6F6;
  text-align: center;
  padding: 30px;
}
h1 {
  color: #66BFBF
}
h3 {
  color: #66BFBF
}
.vision {

}
